In [54]:
import re
import os
import random
import sys
sys.path.append('/Users/seunghoonchoi/Downloads/Dacon_recommend_system')
import requests

import warnings
warnings.filterwarnings(action='ignore') 

import ast

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from gensim.models import FastText

from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split

import torch
import torch.nn as nn
import torch.nn.functional as F
from torch.utils.data import IterableDataset

import dgl
import dgl.nn as dglnn
import dgl.function as fn
from dgl.nn import HeteroGraphConv, SAGEConv

In [2]:
CFG = {'SEED' : 42}

In [3]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

seed_everything(CFG['SEED']) # Seed 고정

In [4]:
def recall5(answer_df, submission_df):
    """
    Calculate recall@5 for given dataframes.
    
    Parameters:
    - answer_df: DataFrame containing the ground truth
    - submission_df: DataFrame containing the predictions
    
    Returns:
    - recall: Recall@5 value
    """
    
    primary_col = answer_df.columns[0]
    secondary_col = answer_df.columns[1]
    
    # Check if each primary_col entry has exactly 5 secondary_col predictions
    prediction_counts = submission_df.groupby(primary_col).size()
    if not all(prediction_counts == 5):
        raise ValueError(f"Each {primary_col} should have exactly 5 {secondary_col} predictions.")


    # Check for NULL values in the predicted secondary_col
    if submission_df[secondary_col].isnull().any():
        raise ValueError(f"Predicted {secondary_col} contains NULL values.")
    
    # Check for duplicates in the predicted secondary_col for each primary_col
    duplicated_preds = submission_df.groupby(primary_col).apply(lambda x: x[secondary_col].duplicated().any())
    if duplicated_preds.any():
        raise ValueError(f"Predicted {secondary_col} contains duplicates for some {primary_col}.")


    # Filter the submission dataframe based on the primary_col present in the answer dataframe
    submission_df = submission_df[submission_df[primary_col].isin(answer_df[primary_col])]
    
    # For each primary_col, get the top 5 predicted secondary_col values
    top_5_preds = submission_df.groupby(primary_col).apply(lambda x: x[secondary_col].head(5).tolist()).to_dict()
    
    # Convert the answer_df to a dictionary for easier lookup
    true_dict = answer_df.groupby(primary_col).apply(lambda x: x[secondary_col].tolist()).to_dict()
    
    
    individual_recalls = []
    for key, val in true_dict.items():
        if key in top_5_preds:
            correct_matches = len(set(true_dict[key]) & set(top_5_preds[key]))
            individual_recall = correct_matches / min(len(val), 5) # 공정한 평가를 가능하게 위하여 분모(k)를 'min(len(val), 5)' 로 설정함 
            individual_recalls.append(individual_recall)


    recall = np.mean(individual_recalls)
    return recall

In [5]:
# 이력서 관련
resume = pd.read_csv('/Users/seunghoonchoi/Downloads/Dacon_recommend_system/Data/resume.csv')
resume_edu = pd.read_csv('/Users/seunghoonchoi/Downloads/Dacon_recommend_system/Data/resume_education.csv')
resume_cert = pd.read_csv('/Users/seunghoonchoi/Downloads/Dacon_recommend_system/Data/resume_certificate.csv')
resume_lang = pd.read_csv('/Users/seunghoonchoi/Downloads/Dacon_recommend_system/Data/resume_language.csv')

In [6]:
# 공고 관련
recruitment = pd.read_csv('/Users/seunghoonchoi/Downloads/Dacon_recommend_system/Data/recruitment.csv')
company = pd.read_csv('/Users/seunghoonchoi/Downloads/Dacon_recommend_system/Data/company.csv')

In [7]:
# 이력서 - 공고 매칭
apply_train = pd.read_csv('/Users/seunghoonchoi/Downloads/Dacon_recommend_system/Data/apply_train.csv')

In [8]:
resume.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8482 entries, 0 to 8481
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resume_seq       8482 non-null   object
 1   reg_date         8482 non-null   object
 2   updated_date     8482 non-null   object
 3   degree           8482 non-null   int64
 4   graduate_date    8482 non-null   int64
 5   hope_salary      8482 non-null   float64
 6   last_salary      8482 non-null   float64
 7   text_keyword     8287 non-null   object
 8   job_code_seq1    8482 non-null   object
 9   job_code_seq2    500 non-null    object
 10  job_code_seq3    187 non-null    object
 11  career_month     8482 non-null   int64
 12  career_job_code  7724 non-null   object
dtypes: float64(2), int64(3), object(8)
memory usage: 861.6+ KB

In [9]:
resume_edu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8482 entries, 0 to 8481
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   resume_seq             8482 non-null   object
 1   hischool_type_seq      8482 non-null   int64
 2   hischool_special_type  8482 non-null   object
 3   hischool_nation        8482 non-null   object
 4   hischool_gender        8482 non-null   object
 5   hischool_location_seq  8482 non-null   int64
 6   univ_type_seq1         8482 non-null   int64
 7   univ_type_seq2         8482 non-null   int64
 8   univ_transfer          8482 non-null   int64
 9   univ_location          8482 non-null   int64
 10  univ_major             1795 non-null   object
 11  univ_sub_major         416 non-null    object
 12  univ_major_type        8482 non-null   int64
 13  univ_score             8482 non-null   float64
dtypes: float64(1), int64(7), object(6)
memory usage: 927.8+ KB

In [10]:
resume_cert.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12975 entries, 0 to 12974
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   resume_seq            12975 non-null  object
 1   certificate_contents  12971 non-null  object
dtypes: object(2)
memory usage: 202.9+ KB

In [11]:
resume_lang.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 869 entries, 0 to 868
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   resume_seq  869 non-null    object
 1   language    869 non-null    int64
 2   exam_name   869 non-null    int64
 3   score       869 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 27.3+ KB

In [12]:
resume_lang['language'].unique()

array([2, 4, 3, 9, 8])

In [13]:
resume_lang['exam_name'].unique()

array([ 4,  5,  6,  1, 11,  3,  9,  2, 21, 10, 24,  8, 13,  7, 31])

In [14]:
# resume를 제외한 이력서 관련 데이터프레임에 'resume_seq' 중복값 있는지 확인
resume_edu_duplicates = resume_edu['resume_seq'].value_counts()
resume_cert_duplicates = resume_cert['resume_seq'].value_counts()
resume_lang_duplicates = resume_lang['resume_seq'].value_counts()

resume_edu_duplicates_count = resume_edu_duplicates[resume_edu_duplicates > 1].count()
resume_cert_duplicates_count = resume_cert_duplicates[resume_cert_duplicates > 1].count()
resume_lang_duplicates_count = resume_lang_duplicates[resume_lang_duplicates > 1].count()

resume_edu_duplicates_count, resume_cert_duplicates_count, resume_lang_duplicates_count

(0, 3376, 47)

In [15]:
# 자격증 종류 확인
unique_certificate_contents = resume_cert['certificate_contents'].nunique()
unique_certificate_contents

1786

In [16]:
# 가장 많은 자격증을 가진 사람이 몇 개의 자격증을 가졌는지.
max_certificates = resume_cert['resume_seq'].value_counts().max()
max_certificates

10

In [17]:
# resume_seq별로 자격증 그룹화 및 개수 반영(null값 제거)
resume_cert_cleaned = resume_cert.dropna(subset=['certificate_contents'])

cert_grouped = resume_cert_cleaned.groupby('resume_seq').agg(
    certificate_list=('certificate_contents', list),
    certificate_count=('certificate_contents', 'size')
).reset_index()

all_resume_seq = resume[['resume_seq']]
cert_grouped_complete = all_resume_seq.merge(cert_grouped, on='resume_seq', how='left')
cert_grouped_complete['certificate_list'] = cert_grouped_complete['certificate_list'].apply(lambda x: x if isinstance(x, list) else [])
cert_grouped_complete['certificate_count'].fillna(0, inplace=True)
cert_grouped_complete['certificate_count'] = cert_grouped_complete['certificate_count'].astype(int)

cert_grouped_complete.head()

  resume_seq                certificate_list  certificate_count
0     U00606                              []                  0
1     U00509                              []                  0
2     U02012                     [중등 2급 정교사]                  1
3     U04599  [MCAS MASTER 2007, VMD MASTER]                  2
4     U07573       [컴퓨터그래픽스운용기능사, 워드프로세서 2급]                  2

In [18]:
# 외국어 종류 및 자격 개수만 원핫 인코딩, 점수나 시험 종류는 드랍.
lang_encoded = pd.get_dummies(resume_lang, columns=['language'], prefix="", prefix_sep="")
lang_grouped = lang_encoded.groupby('resume_seq').sum().reset_index()
lang_grouped_cleaned = lang_grouped.drop(columns=['exam_name', 'score'])
lang_grouped_cleaned.columns = ['resume_seq', 'lang_2', 'lang_3', 'lang_4', 'lang_8', 'lang_9']
lang_grouped_cleaned[['lang_2', 'lang_3', 'lang_4', 'lang_8', 'lang_9']] = lang_grouped_cleaned[['lang_2', 'lang_3', 'lang_4', 'lang_8', 'lang_9']].clip(upper=1)
lang_grouped_cleaned

    resume_seq  lang_2  lang_3  lang_4  lang_8  lang_9
0       U00004       1       0       0       0       0
1       U00005       1       0       0       0       0
2       U00039       1       0       0       0       0
3       U00054       1       0       0       0       0
4       U00067       1       0       0       0       0
..         ...     ...     ...     ...     ...     ...
815     U08443       0       0       1       0       0
816     U08461       1       0       0       0       0
817     U08465       1       0       0       0       0
818     U08472       1       0       0       0       0
819     U08482       1       0       0       0       0

[820 rows x 6 columns]

In [19]:
# 중복 없앤 이력서 관련 데이터프레임들 병합
final_resume = resume.merge(cert_grouped_complete, on='resume_seq', how='left')
final_resume = final_resume.merge(lang_grouped_cleaned, on='resume_seq', how='left')
final_resume = final_resume.merge(resume_edu, on='resume_seq', how='left')

final_resume

,resume_seq,reg_date,updated_date,degree,graduate_date,hope_salary,last_salary,text_keyword,job_code_seq1,job_code_seq2,...,hischool_gender,hischool_location_seq,univ_type_seq1,univ_type_seq2,univ_transfer,univ_location,univ_major,univ_sub_major,univ_major_type,univ_score
0,U00606,2020-03-04,2020-05-22,4,2008,3500.0,3500.0,스타일디자이너;우븐디자이너,재료·화학·섬유·의복,NaN,...,남여공학,11,5,5,0,11,NaN,NaN,4,70.0
1,U00509,2019-08-25,2020-09-02,2,0,0.0,3700.0,상품기획;MD;기획;머천다이저;머천다이징,재료·화학·섬유·의복,NaN,...,기타,0,5,5,0,5,NaN,NaN,4,90.0
2,U02012,2017-11-20,2020-01-26,5,1979,3500.0,3100.0,니트디자인,재료·화학·섬유·의복,NaN,...,기타,0,5,5,0,3,NaN,NaN,9,90.0
3,U04599,2020-05-13,2020-05-28,4,2012,0.0,2500.0,MD;기획MD,재료·화학·섬유·의복,NaN,...,여자학교,7,3,5,0,11,NaN,NaN,19,80.0
4,U07573,2019-07-23,2020-03-08,4,2010,1900.0,0.0,디자이너;남성복;스포츠웨어;편집디자인;코디네이터;일러스트레이터;VMD;MD,재료·화학·섬유·의복,NaN,...,여자학교,4,5,5,0,13,NaN,NaN,19,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8477,U04890,2018-05-27,2020-08-26,5,1994,0.0,6250.0,상품기획;생산;글로벌소싱;남성복;여성복,재료·화학·섬유·의복,NaN,...,남자학교,3,5,5,0,3,NaN,NaN,3,70.0
8478,U05910,2019-09-27,2020-10-22,4,2013,2300.0,1900.0,소재;기획MD;남성복;온라인MD;디자이너,재료·화학·섬유·의복,NaN,...,여자학교,15,5,5,0,15,NaN,NaN,19,80.0
8479,U01468,2019-02-26,2020-06-23,4,2008,0.0,0.0,상품기획MD;우븐디자인,디자인,NaN,...,기타,0,5,5,0,18,NaN,NaN,9,80.0
8480,U05315,2020-03-27,2020-12-21,4,2016,0.0,0.0,여성복디자인;우븐디자인;다이마루디자인,재료·화학·섬유·의복,NaN,...,남여공학,5,5,5,0,3,NaN,NaN,9,80.0
8481,U01277,2020-09-22,2020-09-22,4,2009,2100.0,1000.0,상품기획;머천다이저,재료·화학·섬유·의복,NaN,...,여자학교,5,5,5,0,3,NaN,NaN,5,80.0

In [20]:
recruitment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6695 entries, 0 to 6694
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   recruitment_seq    6695 non-null   object
 1   address_seq1       6694 non-null   float64
 2   address_seq2       100 non-null    float64
 3   address_seq3       9 non-null      float64
 4   career_end         6695 non-null   int64
 5   career_start       6695 non-null   int64
 6   check_box_keyword  6695 non-null   object
 7   education          6695 non-null   int64
 8   major_task         6695 non-null   int64
 9   qualifications     6695 non-null   int64
 10  text_keyword       707 non-null    object
dtypes: float64(3), int64(5), object(3)
memory usage: 575.5+ KB

In [21]:
recruitment['address_seq1'].unique()

array([ 3., 20.,  5.,  9., 11.,  1., nan, 13.,  2.])

In [22]:
# 공고 주소가 빈 데이터 확인
recruitment[recruitment['address_seq1'].isnull()]

,recruitment_seq,address_seq1,address_seq2,address_seq3,career_end,career_start,check_box_keyword,education,major_task,qualifications,text_keyword
3230,R01512,NaN,NaN,NaN,0,0,2507;2707,4,2,1,NaN

In [23]:
# 저 공고의 회사가 어떤 주소인지 확인하기 위해, 저 공고에 지원한 이력서들이 다른 어디에 지원했는지 확인
applied_resumes_check = apply_train[apply_train['recruitment_seq'] == 'R01512']
resume_seqs_for_R01512 = applied_resumes_check['resume_seq'].tolist()
other_applications = apply_train[apply_train['resume_seq'].isin(resume_seqs_for_R01512)]
other_recruitments_seq = other_applications['recruitment_seq'].unique()

addresses_for_other_recruitments = recruitment[recruitment['recruitment_seq'].isin(other_recruitments_seq)]['address_seq1']

addresses_for_other_recruitments.unique()

array([20.,  3., nan,  5.])

In [24]:
# 3, 5, 20 중 하나, 어느 주소가 가장 많은지 확인.
address_counts_recruitment = recruitment['address_seq1'].value_counts()
address_counts_recruitment.loc[[3.0, 5.0, 20.0]]

address_seq1
3.0     6490
5.0      174
20.0      17
Name: count, dtype: int64

In [25]:
# 3이 가장 많으므로, 3으로 채움
recruitment['address_seq1'] = recruitment['address_seq1'].fillna(3.0).astype(int)

In [26]:
# 다른 주소들은 nan값이 훨씬 많으므로, nan을 '정보없음'으로 함.
recruitment['address_seq2'].unique()

array([nan, 20.,  5.,  1., 13.,  3.,  2., 11.,  7.,  8.,  9., 17.])

In [27]:
recruitment['address_seq3'].unique()

array([nan, 20.,  3.,  8., 18.])

In [28]:
# recruitment의 check_box_keyword 고유값 계산
all_keywords = recruitment['check_box_keyword'].str.split(';').explode().dropna().unique()

num_unique_keywords = len(all_keywords)
num_unique_keywords

61

In [29]:
# recruitment 데이터프레임에서 text_keyword가 있으면 1, 아니면 0
recruitment['has_text_keyword'] = recruitment['text_keyword'].notna().astype(int)

# text_keyword에 해당 키워드가 있으면 1, 아니면 0
recruitment['part_time'] = recruitment['text_keyword'].str.contains('아르바이트').fillna(0).astype(int)
recruitment['intern'] = recruitment['text_keyword'].str.contains('인턴').fillna(0).astype(int)
recruitment['entry_level'] = recruitment['text_keyword'].str.contains('신입').fillna(0).astype(int)
recruitment['experienced'] = recruitment['text_keyword'].str.contains('경력|경력직').fillna(0).astype(int)
recruitment['team_leader'] = recruitment['text_keyword'].str.contains('팀장|팀장급').fillna(0).astype(int)

# check_box_keyword를 나눈 다음 one_hot encoding
check_box_encoded = recruitment['check_box_keyword'].str.get_dummies(sep=';')
recruitment = pd.concat([recruitment, check_box_encoded], axis=1)

# 원래 열들 드랍
recruitment_cleaned = recruitment.drop(columns=['address_seq2', 'address_seq3', 'text_keyword', 'check_box_keyword'])
recruitment_cleaned

,recruitment_seq,address_seq1,career_end,career_start,education,major_task,qualifications,has_text_keyword,part_time,intern,...,3005,3006,3007,3008,3099,3101,3102,3103,3105,3199
0,R02264,3,0,0,4,8,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,R06317,3,0,0,3,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,R04017,3,0,0,3,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,R02865,3,0,0,2,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,R04890,3,0,0,2,2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6690,R03678,3,0,0,3,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6691,R04593,3,0,0,4,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6692,R03252,3,0,0,3,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6693,R05130,3,0,0,2,2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6694,R04779,3,0,0,3,8,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
# company와 recruitment 병합 전 company데이터 살펴보기.
unique_company_type_seq = company['company_type_seq'].unique()
unique_supply_kind = company['supply_kind'].unique()
unique_employee = company['employee'].unique()

unique_company_type_seq, unique_supply_kind, unique_employee

(array([2, 4, 5, 9, 7, 3]),
 array([514, 402, 100, 201, 515, 508, 501, 409, 513, 412, 601, 507, 512,
        605, 413, 502, 603]),
 array([   20,    90,    60,   590,   250,   130,    40,   200,  1000,
          500,   800,   525,   260,   150,    97,   300,   270,   100,
           41,    45,   310,   120,   180,     0,    70,     9,   145,
           35,    28,    17,     6,    10,     4,    32,    56,    15,
          390,   350,     8,    80,    30,    13,     5,   550,   631,
          650,    98,    19,    16,    22,  1600,    12,  2000,    50,
          160,     2,    25,    42, 12223,   420,   950,     3,   170,
           58,   591,    23,     7,   110,   600,   280,   118,    74,
          140,  3500,   230,   210,   400,    11,    18,   780,   750]))

In [31]:
# employee 최소, 최대
min_employee = company['employee'].min()
max_employee = company['employee'].max()

min_employee, max_employee

(0, 12223)

In [32]:
# company 정보와 최종 병합. 없는 데이터는 일단 nan으로.
final_recruitment = recruitment_cleaned.merge(company, on='recruitment_seq', how='left')
final_recruitment

,recruitment_seq,address_seq1,career_end,career_start,education,major_task,qualifications,has_text_keyword,part_time,intern,...,3008,3099,3101,3102,3103,3105,3199,company_type_seq,supply_kind,employee
0,R02264,3,0,0,4,8,1,0,0,0,...,0,0,0,0,0,0,0,5.0,402.0,800.0
1,R06317,3,0,0,3,2,1,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,R04017,3,0,0,3,2,1,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3,R02865,3,0,0,2,2,1,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,R04890,3,0,0,2,2,2,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6690,R03678,3,0,0,3,2,1,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6691,R04593,3,0,0,4,2,1,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6692,R03252,3,0,0,3,2,1,0,0,0,...,0,0,0,0,0,0,0,4.0,402.0,525.0
6693,R05130,3,0,0,2,2,2,0,0,0,...,0,0,0,0,0,0,0,2.0,402.0,40.0
6694,R04779,3,0,0,3,8,1,0,0,0,...,0,0,0,0,0,0,0,2.0,402.0,41.0

In [33]:
'''
employee nan값 채우기
'정보없음' : 0 - nan값인 경우
'영세기업' : 1 - employee가 5인 미만인 경우
'중소기업' : 2 - employee가 1000명 미만인 경우
'중견기업' : 3 - 'employee가 1000명 이상인 경우
다른 열도 nan값 채우기, '정보없음'이라는 의미로 0
'''
final_recruitment['employee_category'] = np.where(final_recruitment['employee'].isna(), 0,
                                         np.where(final_recruitment['employee'] < 5, 1,
                                                  np.where(final_recruitment['employee'] < 1000, 2, 3)))

final_recruitment = final_recruitment.drop(columns=['employee'])
final_recruitment[['company_type_seq', 'supply_kind']] = final_recruitment[['company_type_seq', 'supply_kind']].fillna(0)
final_recruitment

,recruitment_seq,address_seq1,career_end,career_start,education,major_task,qualifications,has_text_keyword,part_time,intern,...,3008,3099,3101,3102,3103,3105,3199,company_type_seq,supply_kind,employee_category
0,R02264,3,0,0,4,8,1,0,0,0,...,0,0,0,0,0,0,0,5.0,402.0,2
1,R06317,3,0,0,3,2,1,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,R04017,3,0,0,3,2,1,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,R02865,3,0,0,2,2,1,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,R04890,3,0,0,2,2,2,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6690,R03678,3,0,0,3,2,1,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
6691,R04593,3,0,0,4,2,1,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
6692,R03252,3,0,0,3,2,1,0,0,0,...,0,0,0,0,0,0,0,4.0,402.0,2
6693,R05130,3,0,0,2,2,2,0,0,0,...,0,0,0,0,0,0,0,2.0,402.0,2
6694,R04779,3,0,0,3,8,1,0,0,0,...,0,0,0,0,0,0,0,2.0,402.0,2

In [34]:
# job_code_seq2와 job_code_seq3의 유의값, nan값 개수 다시 살펴보기
job_code_seq2_nan_count = final_resume['job_code_seq2'].isna().sum()
job_code_seq2_non_nan_count = final_resume['job_code_seq2'].notna().sum()

job_code_seq3_nan_count = final_resume['job_code_seq3'].isna().sum()
job_code_seq3_non_nan_count = final_resume['job_code_seq3'].notna().sum()

job_code_seq2_nan_count, job_code_seq2_non_nan_count, job_code_seq3_nan_count, job_code_seq3_non_nan_count

(7982, 500, 8295, 187)

In [35]:
# seq2, seq3의 nan을 '정보없음'으로 변경.
final_resume['job_code_seq2'].fillna('정보없음', inplace=True)
final_resume['job_code_seq3'].fillna('정보없음', inplace=True)

# 각각 label encoding
label_encoders = {}

for column in ['job_code_seq1', 'job_code_seq2', 'job_code_seq3']:
    le = LabelEncoder()
    final_resume[column] = le.fit_transform(final_resume[column])
    label_encoders[column] = le

final_resume[['job_code_seq1', 'job_code_seq2', 'job_code_seq3']].head()

   job_code_seq1  job_code_seq2  job_code_seq3
0              7             11             10
1              7             11             10
2              7             11             10
3              7             11             10
4              7             11             10

In [36]:
# language 결측치는 어차피 없는 정보이므로 모두 0으로 통일
final_resume[['lang_2', 'lang_3', 'lang_4', 'lang_8', 'lang_9']] = final_resume[['lang_2', 'lang_3', 'lang_4', 'lang_8', 'lang_9']].fillna(0)

In [37]:
# career_job_code의 경우에도 nan은 정보없음으로 하고, 나머지 label_encoding
final_resume['career_job_code'].fillna('정보없음', inplace=True)

le_career = LabelEncoder()

final_resume['career_job_code'] = le_career.fit_transform(final_resume['career_job_code'])

final_resume['career_job_code'].head()

0    35
1    21
2    39
3    21
4    35
Name: career_job_code, dtype: int64

In [38]:
# 전공은 univ_major_type으로 대체. univ_major와 univ_sub_major는 drop
final_resume = final_resume.drop(['univ_major', 'univ_sub_major'], axis=1)
final_resume

,resume_seq,reg_date,updated_date,degree,graduate_date,hope_salary,last_salary,text_keyword,job_code_seq1,job_code_seq2,...,hischool_special_type,hischool_nation,hischool_gender,hischool_location_seq,univ_type_seq1,univ_type_seq2,univ_transfer,univ_location,univ_major_type,univ_score
0,U00606,2020-03-04,2020-05-22,4,2008,3500.0,3500.0,스타일디자이너;우븐디자이너,7,11,...,일반고,공립,남여공학,11,5,5,0,11,4,70.0
1,U00509,2019-08-25,2020-09-02,2,0,0.0,3700.0,상품기획;MD;기획;머천다이저;머천다이징,7,11,...,기타,기타,기타,0,5,5,0,5,4,90.0
2,U02012,2017-11-20,2020-01-26,5,1979,3500.0,3100.0,니트디자인,7,11,...,기타,기타,기타,0,5,5,0,3,9,90.0
3,U04599,2020-05-13,2020-05-28,4,2012,0.0,2500.0,MD;기획MD,7,11,...,일반고,사립,여자학교,7,3,5,0,11,19,80.0
4,U07573,2019-07-23,2020-03-08,4,2010,1900.0,0.0,디자이너;남성복;스포츠웨어;편집디자인;코디네이터;일러스트레이터;VMD;MD,7,11,...,일반고,공립,여자학교,4,5,5,0,13,19,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8477,U04890,2018-05-27,2020-08-26,5,1994,0.0,6250.0,상품기획;생산;글로벌소싱;남성복;여성복,7,11,...,일반고,사립,남자학교,3,5,5,0,3,3,70.0
8478,U05910,2019-09-27,2020-10-22,4,2013,2300.0,1900.0,소재;기획MD;남성복;온라인MD;디자이너,7,11,...,일반고,공립,여자학교,15,5,5,0,15,19,80.0
8479,U01468,2019-02-26,2020-06-23,4,2008,0.0,0.0,상품기획MD;우븐디자인,4,11,...,기타,기타,기타,0,5,5,0,18,9,80.0
8480,U05315,2020-03-27,2020-12-21,4,2016,0.0,0.0,여성복디자인;우븐디자인;다이마루디자인,7,11,...,일반고,공립,남여공학,5,5,5,0,3,9,80.0
8481,U01277,2020-09-22,2020-09-22,4,2009,2100.0,1000.0,상품기획;머천다이저,7,11,...,일반고,공립,여자학교,5,5,5,0,3,5,80.0

In [39]:
# text_keyword에서 ;를 기준으로 분리
keywords = final_resume['text_keyword'].str.split(';').dropna().tolist()

# FastText 학습
model = FastText(sentences=keywords, vector_size=100, window=5, min_count=2, workers=4, sg=1, epochs=200)

# 임베딩 결과 확인을 위한 샘플 키워드 출력
sample_keyword = "디자이너"
model.wv.most_similar(sample_keyword)

[('디자이너신입', 0.762125551700592),
 ('디자이너상품기획', 0.6901536583900452),
 ('5년차디자이너', 0.6579981446266174),
 ('우분디자이너', 0.6576942205429077),
 ('디자이너여성복', 0.6461623311042786),
 ('디자이너인턴', 0.6417450904846191),
 ('여성복패션디자이너', 0.6394168734550476),
 ('머천다이저디자이너', 0.6334587335586548),
 ('바잉디자이너', 0.629180908203125),
 ('막내디자이너', 0.6291711330413818)]

In [40]:
# 군집화
words = list(model.wv.index_to_key)
vectors = [model.wv[word] for word in words]

n_clusters = 61 # recruitment check_box_keyword의 고유값과 같은 숫자로 매핑
kmeans = KMeans(n_clusters=n_clusters, random_state=CFG['SEED']).fit(vectors)

for cluster_num in range(n_clusters):
    words_in_cluster = [words[i] for i, label in enumerate(kmeans.labels_) if label == cluster_num]
    print(f"Cluster {cluster_num+1}: {', '.join(words_in_cluster)}")

Cluster 1: 그래픽디자인, 일러스트, 포토샵, 일러스트레이터, 그래픽, 패션그래픽, 패션그래픽디자인, 의류그래픽, 스타일링, 산업디자인, 패션일러스트, 패션광고, GRAPHIC
Cluster 2: 여성복, 캐쥬얼, 의상, 경력, 영캐주얼, 여성캐주얼, 여성, 스타일, 아동, 실장, 남성, 남성캐주얼, 대졸, 영캐쥬얼, 숙녀복, 캐릭터, 유니, 쉐터, 스타일팀, 유니섹스, 티셔츠, 프리랜서, 영캐릭터, 여성정장, 유니캐주얼, 키즈, 캐릭터캐쥬얼
Cluster 3: 유통망관리, 온라인쇼핑몰, 분석, 자사몰관리, 판매사원관리, 판매분석, 온라인몰관리, 유통망확장, 온라인유통망관리
Cluster 4: 의류디자이너, 남성복디자이너, 아동복디자이너, 아웃도어디자이너, 캐주얼웨어디자이너, 스포츠웨어디자이너, 골프웨어디자이너, 캐쥬얼디자이너, 유아동복디자이너, 스포츠디자이너, 캐쥬얼웨어디자이너, 이너웨어디자이너, 케주얼웨어디자이너, 캐릭터디자이너
Cluster 5: 자재구매, 상품관리, 자재구매관리, 원부자재구매, 부자재구매, 부자재관리, 원부자재관리, 소재관리
Cluster 6: 기술영업, 판매영업, 면세점영업, 식품영업, 법인영업, 화장품영업, 제약영업, 의료기영업, 병의원영업, 금융영업, 채널영업, 시스템영업, 광고영업, 장비영업, 솔루션영업, 식품가공, 보험영업, 인쇄영업
Cluster 7: 패션디자인, 여성복디자인, 디자인, 의상디자인, 우븐디자인, 의류디자인, 남성복디자인, 니트디자인, 잡화디자인, 아동복디자인, 가방디자인, 악세사리디자인, 이너웨어디자인, 신발디자인, 쥬얼리디자인, 용품디자인, 웹디자인, 핸드백디자인, 스타일디자인, 여성의류디자인, 색채, 제품디자인, 상품기획및디자인, 캐드, 악세서리디자인, 패션의상디자인, 상품디자인, 상품기획디자인, 색채디자인, 경력디자인, 유아복디자인, 주얼리디자인, 원단디자인, 금속디자인
Cluster 8: 경영지원, 경영기획, 경영, 경영관리, 사업기획, 경영전략, 조직관리, 경영분석, 사업제휴, 경영컨설팅, 경영혁신, 기업분석, 식음료, 일반관리, 채권관리, 내부감사
Cluster 9: 엠디, 영업부, 바잉엠디, 영업담당, 판매, 영업엠디, 기획엠디, 기획실, 상품, 패션스타일러스트, 백화점바이어, 언더웨어, 샵매니저, 상품기획실, 데이터분석, 수입의류
Cluster 10: 온라인MD, 온라인, 온라인영업, 온라인몰
Cluster 11: 영업팀장, 영업총괄, 총괄, 매장관리영업, 점포개발, MD상품기획, 상권개발, 매장영업백화점로드숍할인점, 외국계, 사업계획, 재고, 영업팀, 증권, 사업총괄, 소비재, 입출고, 패션의류, 저축은행, 자산관리사, 영업마케팅, 매니저, 상품분석
Cluster 12: 원단, 부자재, QC, 발주, CAD, 핸들링, 완사입, 글로벌소싱, 생산구매, 생산기술, 원부자재발주, 자재발주, 마킹, 생산구매관리, 원자재, 공장관리, 원단생산관리, 제품개발, 원사, 임가공, 마감
Cluster 13: 기획MD, 패션MD, 상품기획MD, 상품MD, 유통MD, 의류MD, 영업기획MD, 여성복기획MD, 수입MD, 캐쥬얼MD, 패션기획MD, 리테일MD, 상품기획기획MD, 인터넷쇼핑몰MD, 브랜드MD, 신입MD, 소싱MD, CRMMD, 기획생산MD, 인터넷MD, 여성의류MD, 신발MD, 의류기획MD, ACCMD, 캐주얼MD, AMD
Cluster 14: 워드, 파워포인트, 사무보조, OA, 한글, 업무보조, 문서관리, 전산, 전산직, 은행, OFFICE, 영사기사, 보안, 호텔리어, 방과후교사, 전산기획, 전산입력
Cluster 15: 홍보, PR, CRM, 유통관리, 판촉, 홈쇼핑, 홀세일, AE, 마케터, 유통관리사, 지원, 사무직, 유통바이어, 홍보기획, 브랜드관리, 오프라인, 리테일, 트렌드, 브랜드마케팅
Cluster 16: 아웃도어, 스포츠, 골프웨어, 골프, 생산기획, 용품, 물량기획, 스퐃, 골프MD, 아웃도어웨어, 물량운영
Cluster 17: 여성복MD, 남성복MD, 캐주얼웨어, 캐주얼웨어MD, 아웃도어MD, 골프웨어MD, 스포츠웨어MD, 스포츠MD
Cluster 18: 해외영업, 바이어관리, 바이어상담, 해외사업, 해외구매, 해외시장개척, 해외지사, 바이어발굴, 호텔, 레저관광, 관광통역
Cluster 19: 의류, 남성복, 캐주얼, 패션, 섬유, 스포츠웨어, 의복, 유통, 잡화, 소재, 아동복, 가방, 신발, 봉제, 악세사리, 구두, 이너웨어, 모자, 핸드백, 일어, 디스플레이VMD, 주얼리, MDVMD, 패션디자인MD, 어패럴, 악세서리, 패션디자인의상디자인, 셔츠, 골프의류, 지갑, 침구
Cluster 20: 컬러리스트, RD, 컬러, 패션정보, 트렌드분석, 정보실, 칼라리스트, 패션기획, 컬러기획, 의류기획, 디자인기획, 홍보마케팅, 미술, 해외바잉, 트랜드분석, 정보, 트렌드기획, 컬러분석, 마켓분석, 소재소싱, 패션정보팀, 소재실, 패션정보실, 상품생산
Cluster 21: 교육상담, 수강생관리, 교육행정, 교수설계
Cluster 22: 마케팅기획, 브랜딩, 전략기획, 시장조사, 기획전략, 백화점MD, 전략, 브랜드매니저, 홈쇼핑MD, 신규사업기획, 기획조사, 할인점MD, 화장품MD, MBA, 출판기획, 기업인수합병, CEO
Cluster 23: 생산MD, 의류생산관리, 의류생산, 해외생산, 그레이딩, 해외생산관리, 생산생산관리
Cluster 24: 브랜드, 팀장, CS, 패션홍보, 디자인실장, 열정, 끈기, 디렉터, 패션컨설턴트, 패션디렉터, 브랜드총괄, 브랜드메니저, 사업부장, 고객상담실, 소비자상담실, 창의적, 마케팅홍보, 상품기획총괄, 상품기획팀장, 브랜드팀장
Cluster 25: 무역, 수출입, 무역사무, 물류, 무역영어, 수입, 일본어, 수출, 중국무역, 수출입관리, 일본무역, 무역실무, 무역일반, 선적, 국제무역사, 일본, LC, 무역중개인, 관광, 여행사, 일본영업, 해운, 일본어가능, 리서치, 기타직, 일본수출
Cluster 26: 영업기획, 매장관리, 거래처관리, 영업지원, 백화점영업, 매출관리, 국내영업, 대리점관리, 유통영업, 고객관리, 거래선개발, 쇼핑몰, 판매관리, 총판영업, 의류판매, 부동산, 거래처, 운영, 지배인, 체육, 기술지원, 잡화판매, 총지배인, 유통개발, 경매입찰, 농구, 레저, 공인중개사
Cluster 27: 아트디렉터, 잡지기자, 기자, 신문기자
Cluster 28: 중국어, 소싱, 중국, 오더관리, 해외소싱, 해외영업관리, KNIT, 통역, FABRIC, 직소싱, 해외경험, WOVEN
Cluster 29: 인사, 인사관리, 인사총무, 교육담당, 인사담당, 채용, 교육기획, 인사기획, 교육, 인재관리, 교육개발, 교육훈련, 인재개발, 인사통합, 인력관리, 6시그마, 인재교육, HR, 인력개발, HRM, HRD
Cluster 30: 코디네이터, 스타일리스트, 인테리어, 비주얼머천다이저, VM, 삽마스터, 광고홍보, 비쥬얼머천다이저, 비주얼머천다이징, 패키지디자인, 패션VMD, DISPLAY, 라운딩, 연출, 행사기획, 상품기획생산관리, 패키지
Cluster 31: 피팅, 신입, 피팅모델, 막내, 디자인실
Cluster 32: 일반사무, 총무, 사무, 엑셀, 문서작성, 사무행정, 4대보험, 행정, 복리후생, 급여, 더존, 물류기획, 임금관리, 비품관리, 노무, 문서수발, 출납, 부가세, 일반
Cluster 33: 회계, 경리, 재무, 자금, 결산, 전산회계, 급여관리, 세무, 세무회계, 매장엽업관리, 연말정산, 감사, CFO, 기장, 부가세신고, 예산
Cluster 34: 캐주얼디자이너, 스타일디자이너, 텍스타일디자이너, 영캐주얼디자이너, 핸드백디자이너, 구두디자이너, 소재텍스타일디자이너
Cluster 35: SCM, MRO
Cluster 36: 여성의류, 남성의류
Cluster 37: 유아동복, 유아복, 유아동
Cluster 38: MD, 머천다이저, VMD, 디스플레이, 바이어, MR, 바잉, 영어, 해외, 머천다이징, 머천다이져, 사입, 패션머천다이저, BUYER, VMD디스플레이, 영업전략, 디자이너신입, 샘플, 해외경력, 슈퍼바이저, 명품, 번역, 상품소싱, 상품바잉, 코디, 유학, 수출영업, 머천다이저의류, RDDESIGN, 머쳔다이저, 디스플레이어, 머천다이저디자이너, 판매기획, MD머천다이저, 경력3년, 화장품, 석사, 디자이너여성복
Cluster 39: 생산관리, 생산, 관리, 품질관리, 벤더, 원가관리, TD, QA, 브랜드의류구매, 고객지원, 우븐생산관리, 국내, 원가, 오다관리, 데님생산관리, 의류생산기획, 공정관리, 업체상담, 인터넷쇼핑몰, 웹전시관리
Cluster 40: 시각디자인, 광고디자인, 공간디자인, 실내디자인, 잡지광고, 포스터디자인, 전시디자인, 캐릭터디자인, POP광고, CI, POP, 옥외광고, 벽지디자인, 신문광고, 타이포그래픽, 포장디자인, 리노베이션, 공예디자인, 팬시디자인, 디지털디자인, 원화디자인, TV광고
Cluster 41: 상품기획, 마케팅, 기획, 샵마스터, 상품개발, 영업영업관리, 상품기획머천다이저, 성실, 기획생산, 인터넷, 의류상품기획, 영업MD영업기획, 기획MD상품기획, 에디터, 일반사무직, 상품운영, 상품기획패션디자인, FASHION, 패션에디터, 소비자상담의류영업영업관리, 영업영업MD, 매장영업영업MD, 영어회화, 유니섹스캐쥬얼, 기획영업MD, 디자이너상품기획, 의류패션, 수출입통관, 상품기획영업MD, ENGLISH, 기획관리, BM, 우븐데님다이마루경력, 영업및영업MD, 영업관리지원, 상품기획MD영업MD, 기획MD영업MD, 상품기회, 샘플링, 영업관리영업지원, 경력15년이상, 무역일본어, 이태리어, PHOTOSHOP, 상품기획MD머천다이저, 패션디자인및상품기획, 영업관리및영업MD, PLANNING
Cluster 42: 일반영업
Cluster 43: 아울렛영업, 중국영업, 브랜드영업, 할인점영업, 신규브랜드런칭, 유통기획, 중국어가능, 개발생산, 중국사업, 상설영업, 쇼핑몰영업, 백화점아울렛영업, 백화점대리점영업
Cluster 44: 바잉MD, 수입바잉MD, 쇼핑몰MD, BUYINGMD, 잡화MD, 해외무역, 디자이너경력, BUYING, 편집샵, 편집샵MD, 패션바잉MD, 해외바잉MD, 아동복MD, 사입MD, 데님MD
Cluster 45: 물류관리, 상품입출고, 구매자재, 외자구매, 통관, 포워딩, 항공운송, 운송, 해상운송, 보세운송, 자재통합, 출하, 육상운송, 배송
Cluster 46: 구매, 구매관리, 자재관리, 자재, 재고관리, 외주관리, 자재입출고, 식품, 창고관리, 물류센터, 건설자재, 노무관리, 공무, 입출고관리, 물류유통, ISO, 자산관리, 사무관리
Cluster 47: 백화점, 할인점, 아울렛, 매장, 매장개설, 직영점, 매장영업관리백화점, 마트, 면세점, 가두점, 전문점, 신규오픈, 개설, 매출, 영업백화점, 유통개설, 백화점매장관리, 홀세일영업, 점포개설, 신규개설, 특판, 매장영업관리대리점, 신규, 영업경력, 영업관리백화점, 매장영업백화점, 아울렛바이어
Cluster 48: 전자, LED, 전자통신, 반도체, 전자공학, LCD, 회로설계, 발광다이오드, 반도체생산, 이동통신
Cluster 49: 스포츠웨어디자인, 데님디자인, 캐주얼디자인, 다이마루디자인, 아웃도어디자인, 캐쥬얼디자인, 패턴사, 골프웨어디자인, 스트릿, 유아동복디자인, 스포츠디자인, 영캐주얼디자인, 캐주얼웨어디자인, 골프디자인, 특종디자인, 스트릿브랜드, 남성정장, 남성캐쥬얼, 남성디자인, 토탈디자인
Cluster 50: 우븐, 니트, 데님, 다이마루, 가죽, TD캐주얼, 경력직, 스웨터, 피혁, 특종, 캐주얼의류, 아우터, 10년차, 캐시미어, 컬렉션, 패딩, 다운, 수영복, 래쉬가드, 모피
Cluster 51: 소재디자인, 텍스타일디자인, 섬유디자인, 패턴, 소재개발, 텍스타일, 샘플개발, 넥타이, 개발, 컬러디자인, 패턴디자인, 드레이핑, FABRICRD, 섬유MD, 모델리스트
Cluster 52: 해외마케팅
Cluster 53: 패션마케팅, 프로모션, 광고, 광고기획, 스포츠마케팅, 이벤트, 업무제휴, 언론홍보, 사보제작, 전시기획, 광고관리, PPL, 광고제작, 광고대행, 카피라이터, 홍보대행, 컨벤션, 전시, BTL
Cluster 54: 대리점, 대리점영업, 패션영업, 로드숍, 로드샵, 대리점영업관리, 프로모션영업, 로드샵영업, 마트영업, 대리점개설, 여성복영업, 남성복영업
Cluster 55: 영업관리, 영업MD, 매장영업관리, 영업, 매장영업, 의류영업, 백화점영업관리, 의류영업관리, 일반영업관리, 매장영업및영업관리, 백화점관리, SPA, 영업및영업관리, 매장영업관리마케팅, 패션영업관리, 물량관리, 의류영업MD, 백화점영업MD, 브랜드영업관리, 매장영업관리영업MD, 영업부영업관리, 매장영업및관리, 의류영업기획
Cluster 56: 수입바잉, 인턴, 막내디자이너, MERCHANDISER, 피팅가능, EXCEL, 컴퓨터활용능력, 피팅디자이너, 디자이너인턴, 수입바이어, 피팅인턴
Cluster 57: 디자이너, 패션디자이너, 여성복디자이너, 우븐디자이너, 의상디자이너, 소재디자이너, 니트디자이너, 신입디자이너, 그래픽디자이너, 데님디자이너, 경력디자이너, 다이마루디자이너, 잡화디자이너, 스포츠의류, 여성복경력디자이너, 상품기획디자이너, 우븐경력디자이너, 가방디자이너, 토탈디자이너, 여성복우븐디자이너, 악세서리디자이너, 악세사리디자이너, 섬유디자이너, 프로모션디자이너, 스웨터디자이너, 테크니컬디자이너, 우분디자이너, 경력우븐디자이너, 실장급디자이너, 엠자이너, 용품디자이너, 의상의류디자이너, 슈즈디자이너, 신발디자이너, 쥬니어아동복디자이너, ACC디자이너, 5년차디자이너, 편집디자이너, 무대의상디자이너, 우븐디자이너니트쉐터디자이너, RD디자이너, 여성복패션디자이너, 우븐다이마루디자이너, 주얼리디자이너, 바잉디자이너, 일러스트디자이너, 남성복디자이너MD
Cluster 58: 화학, 화공, 품질보증, 기술개발, 연구, 제약, 건설, 에너지, 정유, 건축설계, 환경, 석유화학, 재료
Cluster 59: 편집디자인, 비서, 출판편집, 임원비서, 서비스, 수행비서, 카탈로그편집, 잡지편지
Cluster 60: 온라인마케팅, 웹기획, 컨텐츠기획, 정보검색, 웹서비스기획
Cluster 61: 소재기획, 원단영업, 소재MD, 브랜드기획, 컨버터, 원단기획, 소재팀, 머처다이저

In [41]:
# 각 키워드가 어떤 클러스터에 속하는지 확인하는 함수
def get_clusters_for_keywords(keywords_list, model, kmeans):
    clusters = [kmeans.predict([model.wv[k]])[0] if k in model.wv.index_to_key else -1 for k in keywords_list]
    return clusters

# 키워드를 분리하고 각 키워드의 클러스터를 가져옴.
# NaN 값이 있을 경우 빈 리스트로 처리.
all_clusters = final_resume['text_keyword'].str.split(';').fillna('').apply(lambda x: get_clusters_for_keywords(x, model, kmeans))

# 각 클러스터에 대해 final_resume에 새로운 열을 추가.
for i in range(n_clusters):
    final_resume[f'keyword_cluster_{i+1}'] = all_clusters.apply(lambda clusters: int(i in clusters))

# text_keyword 열 삭제
final_resume.drop(columns=['text_keyword'], inplace=True)

In [42]:
# certificate의 맞춤법 교정 및 클러스터링을 시도하려고 했으나, 제대로 클러스터링이 안되는 것 같음. 
# recruitment의 qualification에 해당되는 지원자만 지원했다고 생각하고, certificate_list는 드랍.
# 단 certificate_count는 남겨놓음.

final_resume = final_resume.drop('certificate_list', axis=1)
final_resume

,resume_seq,reg_date,updated_date,degree,graduate_date,hope_salary,last_salary,job_code_seq1,job_code_seq2,job_code_seq3,...,keyword_cluster_52,keyword_cluster_53,keyword_cluster_54,keyword_cluster_55,keyword_cluster_56,keyword_cluster_57,keyword_cluster_58,keyword_cluster_59,keyword_cluster_60,keyword_cluster_61
0,U00606,2020-03-04,2020-05-22,4,2008,3500.0,3500.0,7,11,10,...,0,0,0,0,0,1,0,0,0,0
1,U00509,2019-08-25,2020-09-02,2,0,0.0,3700.0,7,11,10,...,0,0,0,0,0,0,0,0,0,0
2,U02012,2017-11-20,2020-01-26,5,1979,3500.0,3100.0,7,11,10,...,0,0,0,0,0,0,0,0,0,0
3,U04599,2020-05-13,2020-05-28,4,2012,0.0,2500.0,7,11,10,...,0,0,0,0,0,0,0,0,0,0
4,U07573,2019-07-23,2020-03-08,4,2010,1900.0,0.0,7,11,10,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8477,U04890,2018-05-27,2020-08-26,5,1994,0.0,6250.0,7,11,10,...,0,0,0,0,0,0,0,0,0,0
8478,U05910,2019-09-27,2020-10-22,4,2013,2300.0,1900.0,7,11,10,...,0,0,0,0,0,1,0,0,0,0
8479,U01468,2019-02-26,2020-06-23,4,2008,0.0,0.0,4,11,10,...,0,0,0,0,0,0,0,0,0,0
8480,U05315,2020-03-27,2020-12-21,4,2016,0.0,0.0,7,11,10,...,0,0,0,0,0,0,0,0,0,0
8481,U01277,2020-09-22,2020-09-22,4,2009,2100.0,1000.0,7,11,10,...,0,0,0,0,0,0,0,0,0,0

In [43]:
# 아직 object로 남아있는 부분 정리
# 1. resume_edu에서 가져왔던 고등학교 정보들 label_encoding
columns_to_encode = ['hischool_special_type', 'hischool_nation', 'hischool_gender']

for col in columns_to_encode:
    le = LabelEncoder()
    final_resume[col] = le.fit_transform(final_resume[col])

In [44]:
# 시간 정보 변환
final_resume['updated_date'] = pd.to_datetime(final_resume['updated_date'])
final_resume['reg_date'] = pd.to_datetime(final_resume['reg_date'])

final_resume

,resume_seq,degree,graduate_date,hope_salary,last_salary,job_code_seq1,job_code_seq2,job_code_seq3,career_month,career_job_code,...,keyword_cluster_54,keyword_cluster_55,keyword_cluster_56,keyword_cluster_57,keyword_cluster_58,keyword_cluster_59,keyword_cluster_60,keyword_cluster_61,update_reg_diff,current_update_diff
0,U00606,4,2008,3500.0,3500.0,7,11,10,67,35,...,0,0,0,1,0,0,0,0,79,1258
1,U00509,2,0,0.0,3700.0,7,11,10,84,21,...,0,0,0,0,0,0,0,0,374,1155
2,U02012,5,1979,3500.0,3100.0,7,11,10,121,39,...,0,0,0,0,0,0,0,0,797,1375
3,U04599,4,2012,0.0,2500.0,7,11,10,24,21,...,0,0,0,0,0,0,0,0,15,1252
4,U07573,4,2010,1900.0,0.0,7,11,10,0,35,...,0,0,0,1,0,1,0,0,229,1333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8477,U04890,5,1994,0.0,6250.0,7,11,10,204,21,...,0,0,0,0,0,0,0,0,822,1162
8478,U05910,4,2013,2300.0,1900.0,7,11,10,12,21,...,0,0,0,1,0,0,0,0,391,1105
8479,U01468,4,2008,0.0,0.0,4,11,10,0,21,...,0,0,0,0,0,0,0,0,483,1226
8480,U05315,4,2016,0.0,0.0,7,11,10,18,13,...,0,0,0,0,0,0,0,0,269,1045
8481,U01277,4,2009,2100.0,1000.0,7,11,10,3,21,...,0,0,0,0,0,0,0,0,0,1135

In [45]:
# graduate_date가 0인 데이터가 많은데, degree로 확인이 불가하므로 그냥 0으로 둠.
final_resume[final_resume['graduate_date'] == 0]

,resume_seq,degree,graduate_date,hope_salary,last_salary,job_code_seq1,job_code_seq2,job_code_seq3,career_month,career_job_code,...,keyword_cluster_54,keyword_cluster_55,keyword_cluster_56,keyword_cluster_57,keyword_cluster_58,keyword_cluster_59,keyword_cluster_60,keyword_cluster_61,update_reg_diff,current_update_diff
1,U00509,2,0,0.0,3700.0,7,11,10,84,21,...,0,0,0,0,0,0,0,0,374,1155
6,U04073,3,0,3900.0,3900.0,7,11,10,77,21,...,0,0,0,0,0,0,0,0,1304,1113
24,U06979,4,0,0.0,3500.0,2,9,7,50,12,...,0,1,0,0,0,0,0,0,1,1063
25,U04565,2,0,2900.0,2900.0,7,11,10,72,21,...,0,1,0,0,0,0,0,0,14,1228
29,U00198,4,0,2700.0,2700.0,7,11,10,6,21,...,0,0,0,0,0,0,0,0,26,1067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8443,U06133,4,0,0.0,0.0,7,11,10,0,35,...,0,0,0,0,0,0,0,0,22,1385
8445,U00524,4,0,2300.0,0.0,7,11,10,0,35,...,0,0,0,0,0,0,0,0,95,1328
8449,U04682,4,0,0.0,5750.0,7,11,10,219,12,...,0,1,0,0,0,0,0,0,1374,1090
8454,U05013,4,0,0.0,2100.0,7,11,10,60,21,...,0,0,0,0,0,0,0,0,1666,1078
8456,U03746,2,0,5750.0,5750.0,7,11,10,168,12,...,0,0,0,0,0,0,0,0,53,1205

In [60]:
# graphSAGE 모델 만들기
# 1. bi-partite 그래프 형성.

# ID 매핑
resume_ids = {v: k for k, v in enumerate(final_resume['resume_seq'].unique())}
recruitment_ids = {v: k for k, v in enumerate(final_recruitment['recruitment_seq'].unique())}

# 엣지 생성
edges = apply_train.apply(lambda row: (resume_ids[row['resume_seq']], recruitment_ids[row['recruitment_seq']]), axis=1)
# 랜덤 워크 위한 양방향 관계를 추가.
edges_reversed = [(dst, src) for src, dst in zip(src_nodes, dst_nodes)]

# 소스와 목적지 노드 리스트
src_nodes = [edge[0] for edge in edges]
dst_nodes = [edge[1] for edge in edges]

# 소스와 목적지 노드 리스트 (역방향)
src_nodes_reversed = [edge[0] for edge in edges_reversed]
dst_nodes_reversed = [edge[1] for edge in edges_reversed]

# 이분 그래프 생성
graph_data = {
    ('resume', 'applies_to', 'recruitment'): (torch.tensor(src_nodes), torch.tensor(dst_nodes)),
    ('recruitment', 'is_applied_by', 'resume'): (torch.tensor(src_nodes_reversed), torch.tensor(dst_nodes_reversed))
}
G = dgl.heterograph(graph_data)

# 특성 스케일링
scaler_resume = MinMaxScaler()
scaler_recruitment = MinMaxScaler()

resume_features_scaled = scaler_resume.fit_transform(final_resume.drop(columns=['resume_seq']).values)
recruitment_features_scaled = scaler_recruitment.fit_transform(final_recruitment.drop(columns=['recruitment_seq']).values)

resume_features_tensor = torch.tensor(resume_features_scaled, dtype=torch.float32)
recruitment_features_tensor = torch.tensor(recruitment_features_scaled, dtype=torch.float32)

# 이분 그래프에 특성 설정
G.nodes['resume'].data['features'] = resume_features_tensor
G.nodes['recruitment'].data['features'] = recruitment_features_tensor

# 그래프 정보 출력
num_resumes = G.num_nodes('resume')
num_recruitments = G.num_nodes('recruitment')
num_edges = G.num_edges('applies_to')

print("Number of resumes:", num_resumes)
print("Number of recruitments:", num_recruitments)
print("Number of edges:", num_edges)

Number of resumes: 8482
Number of recruitments: 6695
Number of edges: 57946

In [57]:
class ItemToItemBatchSampler(IterableDataset):
    def __init__(self, g, resume_type, recruitment_type, batch_size):
        self.g = g
        self.resume_type = resume_type
        self.recruitment_type = recruitment_type
        self.resume_to_recruitment_etype = ('resume', 'applies_to', 'recruitment')
        self.recruitment_to_resume_etype = ('recruitment', 'is_applied_by', 'resume')
        self.batch_size = batch_size

    def __iter__(self):
        while True:
            heads = torch.randint(0, self.g.number_of_nodes(self.resume_type), (self.batch_size,))
            result = dgl.sampling.random_walk(
                self.g,
                heads,
                metapath=[self.resume_to_recruitment_etype, self.recruitment_to_resume_etype])
            tails = result[0][:, 2]
            neg_tails = torch.randint(0, self.g.number_of_nodes(self.recruitment_type), (self.batch_size,))
            mask = (tails != -1)
            yield heads[mask], tails[mask], neg_tails[mask]

In [58]:
# sampling : 코드 참고(https://yamalab.tistory.com/165)
class NeighborSampler(object):
    def __init__(self, g, resume_type, recruitment_type, random_walk_length, random_walk_restart_prob,
                 num_random_walks, num_neighbors, num_layers):
        self.g = g
        self.resume_type = resume_type
        self.recruitment_type = recruitment_type
        self.resume_to_recruitment_etype = ('resume', 'applies_to', 'recruitment')
        self.recruitment_to_resume_etype = ('recruitment', 'is_applied_by', 'resume')
        self.samplers = [
            dgl.sampling.PinSAGESampler(g, recruitment_type, resume_type, random_walk_length,
                                        random_walk_restart_prob, num_random_walks, num_neighbors)
            for _ in range(num_layers)]

    def sample_blocks(self, seeds, heads=None, tails=None, neg_tails=None):
        blocks = []
        for sampler in self.samplers:
            frontier = sampler(seeds)
            block = compact_and_copy(frontier, seeds)
            seeds = block.srcdata[dgl.NID]
            blocks.insert(0, block) 
        return blocks

    def sample_from_item_pairs(self, heads, tails, neg_tails):
        pos_graph = dgl.graph(
            (heads, tails),
            num_nodes=self.g.number_of_nodes(self.recruitment_type))
        neg_graph = dgl.graph(
            (heads, neg_tails),
            num_nodes=self.g.number_of_nodes(self.recruitment_type))
        pos_graph, neg_graph = dgl.compact_graphs([pos_graph, neg_graph])
        seeds = pos_graph.ndata[dgl.NID]
        blocks = self.sample_blocks(seeds, heads, tails, neg_tails)
        return pos_graph, neg_graph, blocks

In [ ]:
class PinSAGECollator(object):
    def __init__(self, sampler, g, ntype):
        self.sampler = sampler
        self.ntype = ntype
        self.g = g

    def collate_train(self, batches):
        heads, tails, neg_tails = batches[0]
        pos_graph, neg_graph, blocks = self.sampler.sample_from_item_pairs(heads, tails, neg_tails)
        assign_features_to_blocks(blocks, self.g, self.ntype)
        return pos_graph, neg_graph, blocks

    def collate_valid(self, batches):
        heads, tails = batches[0], batches[1]
        pos_graph = dgl.graph((heads, tails), num_nodes=self.g.number_of_nodes(self.ntype))
        pos_graph = dgl.compact_graphs([pos_graph])[0]
        seeds = pos_graph.ndata[dgl.NID]
        blocks = self.sampler.sample_blocks(seeds)
        assign_features_to_blocks(blocks, self.g, self.ntype)
        return pos_graph, blocks